
<div class="container mx-auto mt-24">
    <h2 class="text-3xl mb-3 font-[500]">Verson: v1.0.3</h2>

    <h3 class="text-2xl text-rose-500 mb-12">This Application is built with <span class="text-slate-600 font-[600]">Astro Js</span> and <span class="text-slate-600 font-[600]">Tailwind UI</span></h3>

    <a class="p-3 px-5 bg-black text-xl text-white rounded-lg mr-10" href="https://github.com/kerasoft/SibiAssoc-v1.0.3">GitHub Repo</a>
    <i class="fa-solid fa-house-person-return"></i>
    <a class="text-2xl lg:text-[1.6rem] 2xl:text-[1.75rem] font-[400]" href="/">SIBI<span class="text-purple-500">Associates</span></a>
</div>
