<div id="address" class="container mx-auto lg:px-8 grid grid-cols-1 lg:grid-cols-5 lg:mt-6">
    <div class="col-span-3 self-center text-center lg:text-left px-8 lg:px-0">
        <h2 class="text-2xl lg:text-[1.85rem] text-rose-800 lg:mb-2">WHERE WE AT</h2>
        <div class="grid md:grid-cols-2 gap-6 md:gap-0 grid-cols-1 py-6">
            <div>
                <p class="text-xl lg:text-[1.45rem]">#207 Goethhops Apt, <br> Wentworth Falls Iyola, <br> Australia 50032</p>
                <p class="text-lg lg:text-[1.4rem] font-[300] mt-2">40.741895, -73.989308</p>
            </div>
            <div>
                <p class="text-xl lg:text-[1.45rem]">#207 Goethhops Apt, <br> Wentworth Falls Iyola, <br> Australia 50032</p>
                <p class="text-lg lg:text-[1.4rem] font-[300] mt-2">40.741895, -73.989308</p>
            </div>
        </div>
    </div>
    <div class="col-span-2 mt-4 lg:mt-0">
        <iframe class="w-full h-[250px] md:w-full md:h-[350px] lg:rounded-md" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d975.5176119521151!2d75.35576668121843!3d12.038671064628199!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba43ff117d08477%3A0xfaaeefbf3431485a!2s29Q4%2BJMJ%2C%20Pulimparamba%20-%20Manthamkunu%20-%20Palayad%20-%20Taliparamba%20Road%2C%20Pulimparamba%2C%20Taliparamba%2C%20Kerala%20670141!5e0!3m2!1sen!2sin!4v1662398168349!5m2!1sen!2sin" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>