---
const {hide} = Astro.props
---

<div class={`${hide && 'hidden'}`}>
    <div class="relative shadow-[0_-3px_20px_2px_rgba(0,0,0,0.2)]">
        <div class="inset-0 z-[-2] absolute bg-slate-800"></div>
        <div class="inset-0 z-[-1] absolute bg-[url('/src/images/footer-bg.jpg')] bg-cover opacity-10 blur-sm"></div>
        <div class="lg:pb-3 px-8 lg:px-0 py-6 pb-2 lg:py-10 container mx-auto mt-6">
            <div class="p-2 pt-3 lg:px-6 grid grid-cols-1 lg:grid-cols-8 gap-4 lg:gap-2">
                <div class="lg:col-span-5 text-center lg:text-left text-[1.3rem] lg:text-[1.35rem] 2xl:text-[1.5rem] font-[400] my-4 lg:mb-0">
                    <span class="font-[700] text-[#ffcc00]">SIBI</span><span class="font-[700] text-[#fefefe] mt-[-12px]">Associates</span>
                    <br>
                    <p class="text-gray-400 font-[300] text-gray-400 md:text-xl xl:text-[1.4rem]">The complete survey solution</p>
    
                    <div class="hidden lg:flex text-[1.5rem] md:text-[1.65rem] py-3 justify-center lg:justify-start md:text-[1.6rem] gap-6 md:mt-12 text-[#006633] border-b-[1px] lg:border-none border-gray-400 shadow-md lg:shadow-none">
                        <a class="hover:text-gray-500 p-2 rounded-lg active:bg-gray-700" href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
                        <a class="hover:text-gray-500 p-2 rounded-lg active:bg-gray-700" href="https://www.facebook.com"><i class="fa-brands fa-square-facebook"></i></a>
                        <a class="hover:text-gray-500 p-2 rounded-lg active:bg-gray-700" href="https://wa.me/13653640333"><i class="fa-brands fa-whatsapp"></i></a>
                        <a class="hover:text-gray-500 p-2 rounded-lg active:bg-gray-700" href="tel:911234567890"><i class="fa-solid fa-mobile-screen"></i></a>
                    </div>
                </div>
                <div class="lg:col-span-3 flex flex-col md:flex-row justify-center lg:justify-end gap-6 md:gap-20 lg:gap-24 md:py-3">
                    <div class="flex flex-col text-center lg:py-5">
                        <h1 class="text-gray-200 mb-2 md:mb-3 text-[.9rem] md:text-[1rem]">COMPANY</h1>
                        <a href="/about" class="text-gray-400 mb-1 hover:underline text-[1.1rem] md:text-[1.2rem] font-[300]">About</a>
                        <a href="/#address" class="text-gray-400 mb-1 hover:underline text-[1.1rem] md:text-[1.2rem] font-[300]">Locate</a>
                        <a href="/contact" class="text-gray-400 hover:underline text-[1.1rem] md:text-[1.2rem] font-[300]">Contact</a>
                    </div>
                    <div class="flex flex-col text-center lg:py-5">
                        <h1 class="text-gray-200 mb-2 md:mb-3 text-[.9rem] md:text-[1rem]">LEGAL</h1>
                        <p class="text-gray-400 mb-1 text-[1.1rem] md:text-[1.2rem] font-[300]">Terms</p>
                        <p class="text-gray-400 text-[1.1rem] md:text-[1.2rem] font-[300]">License</p>
                    </div>
                    <div class="flex flex-col text-center lg:py-5">
                        <h1 class="text-gray-200 mb-2 md:mb-3 text-[.9rem] md:text-[1rem]">SERVICES</h1>
                        <p class="text-gray-400 mb-1 text-[1.1rem] md:text-[1.2rem] font-[300]">Survey</p>
                        <p class="text-gray-400 text-[1.1rem] md:text-[1.2rem] font-[300]">Drafting</p>
                    </div>
                </div>
                <div class="lg:hidden text-[1.5rem] py-3 justify-center md:text-[1.6rem] gap-6 flex text-[#006633] border-b-[1px] border-gray-400 shadow-md">
                    <a class="p-2 rounded-lg active:bg-gray-700" href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
                    <a class="p-2 rounded-lg active:bg-gray-700" href="https://www.facebook.com"><i class="fa-brands fa-square-facebook"></i></a>
                    <a class="p-2 rounded-lg active:bg-gray-700" href="https://wa.me/13653640333"><i class="fa-brands fa-whatsapp"></i></a>
                    <a class="p-2 rounded-lg active:bg-gray-700" href="tel:911234567890"><i class="fa-solid fa-mobile-screen"></i></a>
                </div>
            </div>
            <div class="flex justify-center py-3 lg:py-0 lg:justify-end px-3">
                <a href="/developer">
                    <div class="font-[300] text-gray-400">Powered by&nbsp; <span class="font-[700] text-gray-400">Kerasoft India&nbsp; </span><i class="fa-solid fa-arrow-up-right-from-square"></i></div>
                </a>
            </div>
        </div>
    </div>
    <div class="text-center bg-white">
        <small class="text-slate-500">copyright &copy; 2009-2022 | SibiAssociates | Terms</small>
    </div>
</div>