---
const {hide} = Astro.props
---

<div class={`${hide && 'hidden'}`}>
    <div class="relative shadow-[0_-3px_20px_2px_rgba(0,0,0,0.2)]">
        <div class="inset-0 z-[-2] absolute bg-slate-800"></div>
        <div class="inset-0 z-[-1] absolute bg-[url('/src/images/footer-bg.jpg')] bg-cover opacity-10 blur-sm"></div>
        <div class="lg:pb-3 px-8 py-6 pb-2 lg:py-10 container mx-auto mt-6">
            <div class="p-2 pt-3 grid grid-cols-1 lg:grid-cols-4">
                <div class="col-span-1 text-center lg:text-left text-[1.2rem] lg:text-[1.35rem] 2xl:text-[1.5rem] font-[400]">
                    <span class="text-[#ffcc00]">SIBI</span><span class="text-[#fefefe] mt-[-12px]">Associates</span>
                    <br>
                    <p class="text-gray-50 font-[300] text-slate-400 md:text-xl">The complete survey solution</p>
    
                    <div class="text-[1.5rem] py-3 justify-center lg:justify-start md:text-[1.6rem] gap-6 flex md:mt-12 text-gray-400 border-b-[1px] lg:border-none border-slate-400 shadow-md lg:shadow-none">
                        <a class="p-2 rounded-lg active:bg-gray-700" href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
                        <a class="p-2 rounded-lg active:bg-gray-700" href="https://www.facebook.com"><i class="fa-brands fa-square-facebook"></i></a>
                        <a class="p-2 rounded-lg active:bg-gray-700" href="https://wa.me/13653640333"><i class="fa-brands fa-whatsapp"></i></a>
                        <a class="p-2 rounded-lg active:bg-gray-700" href="tel:911234567890"><i class="fa-solid fa-mobile-screen"></i></a>
                    </div>
                </div>
                <div class="col-span-2"></div>
                <div class="col-span-1 mt-2 place-self-center lg:place-self-end inline-block lg:bg-sky-50 rounded-lg p-2 px-3">
                    <p class="text-[.9rem] lg:text-[1rem] text-rose-600 font-[600] mt-6 lg:mt-0"><a href="/developer"><span class="text-slate-100 lg:text-black font-[300]">Powered by</span> Kerasoft India</a> <i class="text-slate-100 lg:text-black text-slate-700 fa-solid fa-arrow-up-right-from-square"></i></p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center bg-white">
        <small class="text-slate-500">copyright &copy; 2009-2022 | SibiAssociates | Terms</small>
    </div>
</div>