<div class="bg-gray-50 shadow-md z-5 mb-4">
    <div class="flex pt-6 pb-3 px-6 container mx-auto">
        <div class="flex-1">
            <p class="text-2xl lg:text-[1.6rem] 2xl:text-[1.75rem] font-[400]">SIBI<span class="text-purple-500">Associates</span></p>
        </div>
        <div class="">
            <ul class="hidden md:flex flex-col h-full md:flex-row mt-[-4px] text-xl lg:text-[1.1rem] 2xl:text-xl gap-8 text-gray-700">
                <li class="p-2 rounded-lg active:bg-gray-300"><a href="/">Home</a></li>
                <li class="p-2 rounded-lg active:bg-gray-300"><a href="/about">About</a></li>
                <li class="p-2 rounded-lg active:bg-gray-300"><a href="/contact">Contact</a></li>
            </ul>
            <ul class="md:hidden flex text-xl text-gray-700 gap-1 xs:gap-2 sm:gap-4 mt-[-5px]">
                <li class="p-2 rounded-lg active:bg-gray-300"><a href="/"><i class="fa-solid fa-house-chimney"></i></a></li>
                <li class="p-2 rounded-lg active:bg-gray-300"><a href="/about"><i class="fa-solid fa-circle-info"></i></a></li>
                <li class="p-2 rounded-lg active:bg-gray-300"><a href="/contact"><i class="fa-solid fa-address-book"></i></a></li>
            </ul>
        </div>
    </div>
</div>