<div class="mt-20 md:mt-[7vw] container mx-auto">
    <h1 class="w-fit mx-auto text-[1.4rem] md:text-3xl lg:text-4xl font-[900] mb-1 md:mb-8 text-slate-700 underline">SERVICES</h1>
    <div class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 sm:gap-4 lg:gap-8 xl:gap-6 sm:p-4 xl:p-0">
        <div class="text-center md:bg-gray-50 px-6 pt-2 md:pt-8 pb-6 md:mt-2 md:rounded-lg shadow-md">
            <h3 class="text-indigo-800 font-[600] text-2xl mb-2 md:mb-3 mt-5">Boundary survey</h3>
            <p class="font-[300] text-[1.2rem] sm:text-[1.225rem] lg:text-[1.275rem] text-gray-800">A boundary survey is used to locate boundary lines and corners of a piece of land. This form involves both desk and field research, the latter might be used to control already available data from the former. Boundary survey includes any measurements to set boundary lines to comply with local laws and regulations, but might also involve locating easement lines.</p>
        </div>
        <div class="text-center bg-gray-100 md:bg-gray-50 px-6 pt-8 pb-6 md:mt-2 md:rounded-lg shadow-md">
            <h3 class="text-indigo-800 font-[600] text-2xl mb-2 md:mb-3 mt-5">Construction survey</h3>
            <p class="font-[300] text-[1.2rem] sm:text-[1.225rem] lg:text-[1.275rem] text-gray-800">This form involves staking out buildings, roads, walls and other constructions that are located on a specific property. Measuring and staking precisely provides construction workers with directions how to implement improvements that are shown on development plans. A construction survey could also involve horizontal and vertical grading alignments.</p>
        </div>
        <div class="text-center md:bg-gray-50 px-6 pt-8 pb-6 md:mt-2 md:rounded-lg shadow-md">
            <h3 class="text-indigo-800 font-[600] text-2xl mb-2 md:mb-3 mt-5">Location survey</h3>
            <p class="font-[300] text-[1.2rem] sm:text-[1.225rem] lg:text-[1.275rem] text-gray-800">Location and the earlier discussed boundary survey, could easily be confused. Both sorts of survey provide extra information on the location of interior improvements. However, location survey is mostly used for meeting the requirements of loan applications or zoning permits, while boundary survey is used to locate lines and corners within a piece of land.</p>
        </div>
        <div class="text-center bg-gray-100 md:bg-gray-50 px-6 pt-8 pb-6 md:mt-2 md:rounded-lg shadow-md">
            <h3 class="text-indigo-800 font-[600] text-2xl mb-2 md:mb-3 mt-5">Subdivision survey</h3>
            <p class="font-[300] text-[1.2rem] sm:text-[1.225rem] lg:text-[1.275rem] text-gray-800">When someone wants to divide a parcel of land into smaller parts, a subdivision survey makes most sense to conduct. This form of survey is also used to design drainages and entire streets, usually need these results some sort of approval by (local) government.There are multiple forms of land survey where you stake-out to generate data, this blog just scratches the surface with you by going over a few of them.</p>
        </div>
        <div class="text-center md:bg-gray-50 px-6 pt-8 pb-6 md:mt-2 md:rounded-lg shadow-md">
            <h3 class="text-indigo-800 font-[600] text-2xl mb-2 md:mb-3 mt-5">Topographic survey</h3>
            <p class="font-[300] text-[1.2rem] sm:text-[1.225rem] lg:text-[1.275rem] text-gray-800">This survey is meant for location topographic features on land, both natural and man-made ones. These features include buildings and their utilities, elevators, fences, and trees. While most land surveys are a result of government requirements, a topographic one could be requested by architects and engineers, during the process of planning site developments and improvements.</p>
        </div>
        <div class="text-center bg-gray-100 md:bg-gray-50 px-6 pt-8 pb-6 md:mt-2 md:rounded-lg shadow-md">
            <h3 class="text-indigo-800 font-[600] text-2xl mb-2 md:mb-3 mt-5">Site planning survey</h3>
            <p class="font-[300] text-[1.2rem] sm:text-[1.225rem] lg:text-[1.275rem] text-gray-800">Site planning is the design and planning process for a new development project, this type of survey is usually required to receive a development permit. It combines boundary and topographic surveys for site planning. The results are used to plan design improvements before the actual construction is started.</p>
        </div>
    </div>
</div>